body{
    padding: 0;
    margin: 0;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height:40vh;
    background-color: rgba(0, 0, 0, 0.603);
    background-blend-mode: multiply;
    background-image: url(/todos/todo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.main-head{
    font-size: 100px;
    color: white;
    margin-left: 100px;
    margin-top: 70px ;
}
#todo-container{
    flex-direction: column;
    padding: 20px;
    position: absolute;
    left: 30%;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    position: absolute;
    top:30%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.281);
}
.new-todo{
    padding-left: 10px;
    width:400px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}
#add-todo{
    margin-left: 10px;
    padding: 10px 10px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
}
form{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.todo-list{
    width:510px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
li{
    list-style: none;
    padding: 10px;
}
label{
    margin-left: 5px;
    font-size: 20px;
}
.remove-btn{
    width: 100%;
    position: relative;
    left:350px;
}
#remove{
    margin-left: 10px;
    width: 150px;
    padding: 10px 10px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: white;
}
#remove:hover{
    background-color: rgba(0, 0, 0, 0.219);
}
#add-todo:hover{
    background-color: rgba(255, 255, 255, 0.39);
}